.task-field {
    border: 2px black solid;
    border-radius: 30px;
}

/* .App {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(165, 51, 173), rgb(158, 173, 73));
} */

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items:center;
}

.popup-inner {
    position: relative;
    padding: 25px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;

    display: flex;
    flex-direction: column;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.project-btn {
    display: flex;
    justify-content: flex-end;

    padding-top: 15px;
}

.popup-inner h4 {
    padding: 10px 0 10px 0;
}

.description-area {
    border: 1px rgb(192, 192, 192) solid;
    height: 200px;
    border-radius: 3px;
    padding: 5px;
}

.project-creation-btn {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.btns-projects {
    
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 30px;
}

.btns-projects:hover {
    background-color: rgb(133, 215, 224)
}

